<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" href="../css/styles.css">
		<script src = '../scripts/scripts.js'></script>
	</head>
	<body>
		<div class = "slideleftfade" id = 'title'><h1>Hello! I'm [name]</h1></div>

		<br>
		
		<div class = 'slideleftfade' id = 'subtitle'>
			<b>Something something</b>
			<h2>About me</h2>
			<h3>something something idk</h3>
		</div>
		
		<span id = 'pic' class = 'sliderightfade'>
			<img 
			width = 240px
			height = 240px
			src = 'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png'>
		</span>
		
		<br>

		<div class = 'slideleftfade' id = 'content'>
			<p>something something something</p>
			<p>something something something</p>
			<p>something something something</p>
			<p>something something something</p>
			<p>something something something</p>
		</div>

		<br>
		
		<span class = 'slideleftfade' id = 'button'>
			<button 
			id = '💀' 
			class = 'button-28' 
			onclick='wipe()'
			type = 'button'>
				<span class = 'button_text'>Proceed?</span>
			</button>
		</span>
	</body>
</html>